// Imports and Mixins
@import 'bourbon/bourbon';
@mixin transition-transform($properties...) {
  -webkit-transition: -webkit-transform $properties;
  -moz-transition: -moz-transform $properties;
  -o-transition: -o-transform $properties;
  transition: transform $properties;
}

a[sref] {
  cursor: pointer;
}

// Sidebar
$sidebar-width: 240px;
.sidebar {
  width: $sidebar-width;
  z-index: 0;
}

.container {
  @include transition-transform(0.25s);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.25), 1px 0 2px rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  z-index: 1;
}

.container.sidebar-active {
  @include transform(translateX($sidebar-width));
}

// Slider
.slider {
  .slide {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    img {
      display: block;
      width: 100%;
    }
  }

  .slide-group .slide-text {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
  }
}

// Form
.input-toggle {
  height: 30px;
  margin-bottom: 15px;
  overflow: hidden;

  label {
    float: left;
    width: 35%;
    padding: 8px 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.1;
    color: #8f8f94;
  }

  .toggle {
    float: right;
  }
}

// Buttons
.btn-group {
  position: relative;
  display: table;
  border-spacing: 10px 0;
  margin: 0 -10px;

  .btn {
    display: table-cell;
    width: 1%;
  }
}

.btn-warning {
  color: #fff;
  background-color: #fdb338;
  border: 1px solid #fdb338;
}
.btn-outlined.btn-warning {
  color: #fdb338;
}
.btn-warning:active, .btn-warning.active {
  color: #fff;
  background-color: darken(#fdb338, 10%);
  border: 1px solid darken(#fdb338, 10%);
}
.btn-outlined {
  background-color: transparent;
}