// Imports and Mixins
@import 'bourbon/bourbon';
@mixin transition-transform($properties...) {
  -webkit-transition: -webkit-transform $properties;
  -moz-transition: -moz-transform $properties;
  -o-transition: -o-transform $properties;
  transition: transform $properties;
}

a[sref] {
  cursor: pointer;
}

// Sidebar
$sidebar-width: 240px;
.sidebar {
  width: $sidebar-width;
  z-index: 0;
}

.container {
  @include transition-transform(0.25s);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.25), 1px 0 2px rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  z-index: 1;
}

.container.sidebar-active {
  @include transform(translateX($sidebar-width));
}

// Slider
.slider {
  .slide {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    img {
      display: block;
      width: 100%;
    }
  }

  .slide-group .slide-text {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
  }
}