/* line 10, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent; }

/* line 16, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
a[sref] {
  cursor: pointer; }

/* line 20, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.bar-nav ~ .content {
  padding-top: initial;
  margin-top: 44px; }

/* line 3, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_sidebar.scss */
.sidebar {
  width: 240px;
  z-index: 0; }

/* line 8, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_sidebar.scss */
.container {
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  -o-transition: -o-transform 0.25s;
  transition: transform 0.25s;
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.25), 1px 0 2px rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  z-index: 1; }

/* line 15, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_sidebar.scss */
.container.sidebar-active {
  -webkit-transform: translateX(240px);
  -moz-transform: translateX(240px);
  -ms-transform: translateX(240px);
  -o-transform: translateX(240px);
  transform: translateX(240px); }

/* line 19, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_sidebar.scss */
.bar {
  position: absolute; }

/* line 3, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_slider.scss */
.slider .slide {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }
  /* line 7, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_slider.scss */
  .slider .slide img {
    display: block;
    width: 100%; }
/* line 13, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_slider.scss */
.slider .slide-group .slide-text {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

/* line 2, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_form.scss */
.input-toggle {
  height: 30px;
  margin-bottom: 15px;
  overflow: hidden; }
  /* line 7, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_form.scss */
  .input-toggle label {
    float: left;
    width: 35%;
    padding: 8px 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.1;
    color: #8f8f94; }
  /* line 16, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_form.scss */
  .input-toggle .toggle {
    float: right; }

/* line 2, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_buttons.scss */
.btn-group {
  position: relative;
  display: table;
  border-spacing: 10px 0;
  margin: 0 -10px; }
  /* line 8, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_buttons.scss */
  .btn-group .btn {
    display: table-cell;
    width: 1%; }

/* line 16, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_buttons.scss */
.btn-secondary {
  color: #fff;
  background-color: #fdb338;
  border: 1px solid #fdb338; }

/* line 21, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_buttons.scss */
.btn-outlined.btn-secondary {
  color: #fdb338; }

/* line 24, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_buttons.scss */
.btn-secondary:active, .btn-secondary.active {
  color: #fff;
  background-color: #fca006;
  border: 1px solid #fca006; }

/* line 29, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_buttons.scss */
.btn-outlined {
  background-color: transparent; }

/* line 33, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_buttons.scss */
.btn-lg {
  padding: 9px 12px 10px;
  font-size: 18px; }

/* line 38, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_buttons.scss */
.btn-xl {
  padding: 12px 16px 14px;
  font-size: 24px; }

/* line 6, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown {
  position: relative; }

/* line 11, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-toggle:focus {
  outline: 0; }

/* line 15, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-toggle:after {
  display: inline-block;
  content: " ";
  position: relative;
  top: -2px;
  left: -2px;
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-top-color: #ccc; }

/* line 31, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }
  /* line 54, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  /* line 60, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  /* line 68, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 30px;
    color: #333;
    white-space: nowrap; }

/* line 81, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

/* line 91, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #007aff; }

/* line 106, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #777; }
/* line 113, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: not-allowed; }

/* line 125, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown.active > .dropdown-menu {
  display: block; }
/* line 130, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown.active > a {
  outline: 0; }

/* line 136, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 14px;
  line-height: 20px;
  color: #777;
  white-space: nowrap; }

/* line 146, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9; }

/* line 156, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

/* line 168, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropup .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: ""; }
/* line 174, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px; }

/* line 182, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-submenu {
  position: relative; }
  /* line 185, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px; }

/* line 193, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

/* line 197, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  position: relative;
  top: 5px;
  right: -10px;
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc; }

/* line 214, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
.dropdown-submenu.pull-left {
  float: none; }
  /* line 217, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure/_dropdown.scss */
  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px; }

/* line 32, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.media .media-object {
  max-height: 80px; }
/* line 36, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.media .media-body .media-title {
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 14px; }
/* line 41, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.media .media-body p, .media .media-body .media-title {
  color: #555; }
/* line 44, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.media .media-body .media-info-group {
  position: relative;
  display: table;
  border-spacing: 20px 0;
  margin: 0 -20px; }
  /* line 50, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .media .media-body .media-info-group .media-info {
    display: table-cell;
    width: 1%; }
/* line 55, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.media .media-body .media-info {
  min-width: 80px;
  line-height: 15px; }

/* line 62, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.element {
  margin-top: 5px; }
  /* line 65, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .element .element-background {
    fill: #000000;
    opacity: 0.05; }
  /* line 69, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .element .element-fire, .element .element-aqua, .element .element-wind,
  .element .element-light, .element .element-dark {
    opacity: 0.5; }
  /* line 73, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .element .element-fire {
    fill: #e74c3c; }
  /* line 76, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .element .element-aqua {
    fill: #3498db; }
  /* line 79, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .element .element-wind {
    fill: #2ecc71; }
  /* line 82, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .element .element-light {
    fill: #f1c40f; }
  /* line 85, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .element .element-dark {
    fill: #9b59b6; }

/* line 91, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.table-view-cell.unit .media-object {
  height: 80px;
  width: 56px; }
/* line 95, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.table-view-cell.unit > a:not(.btn) {
  margin: -16px -120px -16px -20px; }

/* line 101, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.bar .dropdown.pull-right {
  margin-right: 10px; }

/* line 106, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.input-icon {
  position: relative; }
  /* line 108, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .input-icon .icon {
    position: absolute;
    top: 0;
    color: #aaa;
    padding: 10px;
    font-size: 20px; }
  /* line 115, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .input-icon input {
    padding-left: 40px; }
  /* line 118, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .input-icon .pull-right {
    right: 0; }

/* line 123, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.scroll-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  z-index: 10;
  border: 0;
  -webkit-transition: -webkit-transform .25s, opacity 1ms .25s;
  -moz-transition: -moz-transform .25s, opacity 1ms .25s;
  transition: transform .25s, opacity 1ms .25s;
  -webkit-transform: translate3d(300%, 0, 0);
  -ms-transform: translate3d(300%, 0, 0);
  transform: translate3d(300%, 0, 0); }

/* line 138, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.scroll-to-top.in {
  opacity: 0.7;
  -webkit-transition: -webkit-transform .25s;
  -moz-transition: -moz-transform .25s;
  transition: transform .25s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* line 148, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.content {
  overflow-x: hidden; }

/* line 152, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.modal {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0; }
  /* line 157, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .modal.active {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity; }
  /* line 161, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .modal .icon-close {
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 0;
    z-index: 1; }
  /* line 169, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .modal .content, .modal .slider {
    background-color: transparent; }
  /* line 172, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .modal .slider, .modal .slide-group {
    height: 100%; }
  /* line 175, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .modal .slide-handler {
    position: absolute;
    bottom: 0;
    width: 100%; }
    /* line 180, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
    .modal .slide-handler .icon {
      width: 50px;
      height: 50px;
      margin: 10px;
      font-size: 24px;
      line-height: 50px;
      text-align: center;
      color: #ddd;
      border: 1px solid #ddd;
      border-radius: 25px; }
    /* line 191, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
    .modal .slide-handler .icon-left-nav {
      float: left; }
    /* line 194, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
    .modal .slide-handler .icon-right-nav {
      float: right; }

/* line 201, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.modal .media-info-group, .modal .media-info {
  padding: 10px 25px; }
/* line 204, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.modal .media-info-group .media-info {
  padding: 0; }
/* line 207, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.modal .media-info-title {
  padding: 10px 25px 0; }
/* line 210, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.modal .media-info, .modal .media-title, .modal .media-info-title {
  text-shadow: 1px 1px 5px #000, 1px -1px 5px #000, -1px 1px 5px #000, -1px -1px 5px #000;
  color: white !important;
  white-space: normal; }
/* line 216, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.modal .media-title, .modal .media-info-title {
  font-size: 18px !important; }
/* line 219, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.modal .media-title {
  padding-top: 50px; }
/* line 222, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
.modal .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

@media (max-width: 440px) {
  /* line 233, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .hidden-xs {
    display: none !important; } }
@media (max-width: 550px) {
  /* line 239, /Users/amber/Workspace/WEBSITE/MerusutoChristina/source/stylesheets/structure.scss */
  .hidden-sm {
    display: none !important; } }
